﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
