﻿@model Commercial_Invoice_CodeLib.Model.ForgotPasswordModel
@{
    Layout = "_AccountLayout";
}





<section>
    <form asp-controller="Account" asp-action="ResetPasswordConfirmation" method="post" class="form-horizontal" role="form">
        @Html.AntiForgeryToken()
        <div class="text-center">
            <h2 class="h3 mb-3 font-weight-normal">Please enter your email address below</h2>
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control form-control-sm" />
            <label asp-for="EmailConfirmation"></label>
            <input asp-for="EmailConfirmation" class="form-control form-control-sm" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <button class="btn btn-sm btn-primary btn-block" type="submit">Request Reset</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
        </div>
    </form>
</section>
