﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AccountLayout";
}
@model Commercial_Invoice_CodeLib.Model.LoginModel

        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
                    <label for="inputUsername" name="username" class="sr-only">Login Name</label>
                    <input type="text" id="username" asp-for="Username" name="username" class="form-control form-control-sm" placeholder="Please enter your username" required autofocus>

                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="pasassword" name="password" asp-for="Password" class="form-control form-control-sm" placeholder="Password" required>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                        </p>

                    </div>

                    <button class="btn btn-sm btn-primary btn-block" type="submit">Log in</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                </div>
            </form>
        </section>
