﻿@{
    Layout = "_AccountLayout";
}
<section>
    <div class="text-center">
    <h2 class="h3 mb-3 font-weight-normal">Your password has been reset.</h2>

     <div class="form-group">
        <p>
            Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
        </p>
        </div>
    </div>
</section>