﻿@model IList<Commercial_Invoice_CodeLib.Model.CommercialInvoiceViewModel>
@{
  //  Layout = null;
}

   @* @foreach (var model in Model)*@
    @for (int i=0;i<Model.Count();i++)
    {
        var
        model = Model[i];
        <div class="sheet">
            <h5 class="border text-center">COMMERCIAL INVOICE</h5>
            <div class="row">&nbsp;</div>
            <table id="invoiceTemplate" class="table table-sm table-bordered" width="100%">
                <tbody>
                <tr>
                    <th colspan="2">Date</th>
                    <th>House AWB</th>
                    <th>PIECES</th>
                    <th>MEASUREMENTS</th>
                    <th>WEIGHT</th>
                    <th>COUNTRY</th>
                </tr>

                <tr>
                    <td colspan="2">@Html.DisplayTextFor(x => model.DateTime)</td>
                    <td>@Html.DisplayTextFor(x => model.HouseAwb)</td>
                    <td>@Html.DisplayTextFor(x => model.Pieces)</td>
                    <td>@Html.DisplayTextFor(x => model.Measurements)</td>
                    <td>@Html.DisplayTextFor(x => model.Weight)</td>
                    <td>@Html.DisplayTextFor(x => model.Country)</td>
                </tr>

                <tr>
                    <th colspan="3">SHIPPER</th>
                    
                    <th colspan="4">CONSIGNEE</th>
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(model.ShipperNameAndAddress.HtmlString)</td>
                    
                    <td colspan="4">@Html.Raw(model.ConsigneeNameAndAddress.HtmlString)</td>
                </tr>
                <tr class="table-active asendiaAzureBlueBackground">
                    <th>QTY</th>
                    <th>DESCRIPTION</th>
                    <th>COMPOSITION</th>
                    <th>Origin</th>
                    <th>CURRENCY</th>
                    <th></th>
                    <th>ECCN Ref</th>
                </tr>
                @*@foreach (var item in model.CommercialInvoiceItems)*@
                @for (int j = 0;j< model.CommercialInvoiceItems.Count;j++)
                {
                    var item = model.CommercialInvoiceItems[j];
                    <tr>
                        <td>@Html.DisplayTextFor(x => item.Quantity)</td>
                        <td>@Html.DisplayTextFor(x => item.Description)</td>
                        <td>@Html.DisplayTextFor(x => item.Composition)</td>
                        <td>@Html.DisplayTextFor(x => item.Origin)</td>
                        <td>@Html.DisplayTextFor(x => item.Currency)</td>
                        <td>@Html.DisplayTextFor(x => item.Value)</td>
                        <td>@Html.DisplayTextFor(x => item.EccnRef)</td>
                    </tr>
                }
                <tr class="table-borderless">
                    <th colspan="4">Parcel Code: @Html.DisplayTextFor(x => model.ParcelCode)</th>
                    <th colspan="3" class="text-right">@Html.DisplayTextFor(x => model.Total)</th>
                </tr>
                </tbody>
            </table>
          
  
            <form asp-action="GetInvoiceAsPdf" method="post">
          
               @Html.HiddenFor(x => model.ParcelId)
               <button class="btn btn-primary btn-sm btn-action float-right" type="submit">Export</button>
                
            </form>
      
        </div>
        <div class="row ">&nbsp;</div>
        <div class="row ">&nbsp;</div>
    }
