﻿@model IEnumerable<Commercial_Invoice_CodeLib.Model.CommercialInvoiceViewModel>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" rel="stylesheet">
    <link rel="stylesheet" href="~/css/invoice.css"/>

</head>
<body class="A4">
    
        @foreach (var model in Model)
{
    <div class="break-after" style="page-break-after: always">
        <div>
            <h5 class="border text-center">COMMERCIAL INVOICE</h5>
            <div class="row">&nbsp;</div>
            <table id="invoiceTemplate" class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th colspan="2">Date</th>
                    <th>House AWB</th>
                    <th>PIECES</th>
                    <th>MEASUREMENTS</th>
                    <th>WEIGHT</th>
                    <th>COUNTRY</th>
                </tr>

                <tr>
                    <td colspan="2">@Html.DisplayTextFor(x => model.DateTime)</td>
                    <td>@Html.DisplayTextFor(x => model.HouseAwb)</td>
                    <td>@Html.DisplayTextFor(x => model.Pieces)</td>
                    <td>@Html.DisplayTextFor(x => model.Measurements)</td>
                    <td>@Html.DisplayTextFor(x => model.Weight)</td>
                    <td>@Html.DisplayTextFor(x => model.Country)</td>
                </tr>

                <tr>
                    <th colspan="3">SHIPPER</th>
                    <th colspan="4">CONSIGNEE</th>
                </tr>
                <tr>
                    <td colspan="3">@Html.Raw(model.ShipperNameAndAddress.HtmlString)</td>
                    <td colspan="4">@Html.Raw(model.ConsigneeNameAndAddress.HtmlString)</td>
                </tr>
                <tr class="table-active asendiaAzureBlueBackground">
                    <th>QTY</th>
                    <th>DESCRIPTION</th>
                    <th>COMPOSITION</th>
                    <th>Origin</th>
                    <th>CURRENCY</th>
                    <th></th>
                    <th>ECCN Ref</th>
                </tr>
                @foreach (var item in model.CommercialInvoiceItems)
                {
                <tr>
                    <td>@Html.DisplayTextFor(x => item.Quantity)</td>
                    <td>@Html.DisplayTextFor(x => item.Description)</td>
                    <td>@Html.DisplayTextFor(x => item.Composition)</td>
                    <td>@Html.DisplayTextFor(x => item.Origin)</td>
                    <td>@Html.DisplayTextFor(x => item.Currency)</td>
                    <td>@Html.DisplayTextFor(x => item.Value)</td>
                    <td>@Html.DisplayTextFor(x => item.EccnRef)</td>
                </tr>
                }
                <tr class="table-borderless">
                    <th colspan="4">Parcel Code: @Html.DisplayTextFor(x => model.ParcelCode)</th>
                    <th colspan="3" class="text-right">@Html.DisplayTextFor(x => model.Total)</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

}

         <script crossorigin="anonymous"
                 integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                 src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script crossorigin="anonymous"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>