﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commercial Invoice Viewer</title>
    <!--Styles-->
<partial name="_CssPartial"/>

    <link href="~/css/signin.css" rel="stylesheet" />    
</head> 
<body>

<div class="row">
    <div class="col-md-12">
           
        @RenderBody()

    </div>
</div>

    







<partial name="_ScriptsPartial" />
<environment include="Development">
    <script src="~/js/popper.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@await RenderSectionAsync("Scripts", required: false)
</body>

</html>