﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Commercial Invoice Viewer</title>
    <!--Styles-->
    <partial name="_CssPartial"/>

    <environment include="Development">

        <link rel="stylesheet" href="~/css/dashboard.css" />
        <link rel="stylesheet" href="~/css/site.css" />


    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
        
</head>
<body>
    
<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow bg-dark">
    <img alt="Asendia Logo" class="navbar-brand col-sm-3 col-md-2 mr-0 " id="logo"
         src="~/assets/images/New_Asendia_Logo.svg" />
    <a class="navbar-brand col-sm-3 col-md-2 mr-0 w-100" href="@Url.Action("Index", "Home")"><h4 class="display-4 pl-1 py-3">Commercial Invoice Viewer</h4></a>
    <!--<div class="w-100 navbar-brand"></div>-->
    <ul class="navbar-nav px-3 ml-auto">
        <li class="nav-item text-nowrap">
            <partial name="_LoginPartial" />
        </li>
    </ul>
</nav>
<div id="loader" class="lds-dual-ring hidden overlay"></div>
@RenderBody()
 




    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            &copy; 2021 - Asendia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <partial name="_ScriptsPartial"/>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>