﻿<!--Results-->

    <!--Result Count-->
   <!-- <h6>No Results</h6>-->
    <!--Result Count-->
    <div class="" style="display: none" id="tableWrapper">
        <table data-click-to-select="false"
               data-page-list="[10, 25, 50, 100]"
               data-pagination="true"
               data-search="false"
               data-show-columns="true"
               data-show-fullscreen="true"
               data-side-pagination="server"
               data-toggle="table"
               data-method="post"
               data-query-params="postQueryParams"
               data-ajax-options="ajaxOptions"
               data-id-field="parcelId"
               data-row-style="rowStyle"
               id="resultsTable"
               class="table table-sm bg-white table-striped table-hover"
               data-loading-template="loadingTemplate"
               style="width: 100%">
            <thead>
                <tr>
                    <th data-checkbox="true" data-field="state" scope="col">
                        <input class="form-control form-check"
                               type="checkbox">
                    </th>

                    <th data-field="retailerParcelCode" scope="col">Retailer Parcel Code</th>
                    <th data-field="carrierConsignmentCode" scope="col">Carrier Consignment Code</th>
                    <th data-field="retailerOrderReference" scope="col">Retailer Order Reference</th>
                    <th data-field="mawb" scope="col">Mawb</th>
                    <th data-field="receiverName" scope="col">Receiver Name</th>
                    <th data-field="senderName" scope="col">Sender Name</th>
                    <th data-field="country" scope="col">Country</th>
                    <th data-field="vehicleRegistrationNumber" scope="col">Vehicle Registration Number</th>
                    <th data-field="trailerReference" scope="col">Trailer Reference</th>
                    <th data-field="sealNumber" scope="col">Seal Number</th>
                    <th data-field="imoNumber" scope="col">IMO/ Haulier Number</th>
                    <th data-field="departureDate" data-formatter="dateFormatter" scope="col">Departure Date</th>
                   @* <th data-field="parcelId" data-events="operateEvents" data-formatter="operateFormatter" data-visible="true">View Invoice</th>
                    <th data-events="operateEvents" data-formatter="operateFormatter">View</th>*@
                </tr>
            </thead>
      

        </table>
        <div class="card p-3 py-4 asendiaAirforceDarkGrey1">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-secondary btn-sm m-lg-1 float-left" id="exportSelectedInvoices" disabled="disabled">Export Selected</button>
                    <button class="btn btn-secondary btn-sm m-lg-1 float-left" id="viewSelectedInvoices" disabled="disabled">View Selected</button>
                </div>
                <div class="col-md-6">

                    <button class="btn btn-secondary btn-sm float-right m-lg-1" id="viewAllInvoices" >View All</button>
                    <button class="btn btn-secondary btn-sm float-right m-lg-1" id="exportAllInvoices" >Export All</button>

                </div>
            </div>
        </div>

    </div>





<!--Results-->
<!--Results Footer-->

 

    <!--Results Footer-->


